@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
*{
  font-family: 'Vazirmatn';
}

@keyframes carrot {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 100%;
  }

  100%{
    opacity: 0;
  }
}

.animation-carrot{
  opacity: 0;
  animation: carrot 1500ms 2.4s infinite;
}