@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carrot {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 100%;
  }

  100%{
    opacity: 0;
  }
}

.animation-carrot{
  opacity: 0;
  animation: carrot 1500ms 2.4s infinite;
}